{% extends "base.html" %}
{% set active_page = "dash" %}

{% block content %}
<div class="container">
    <section>
        <div id="alerts" class="alert alert-danger" style="display: none" role="alert"></div>
        <header>
            <h1>Dashboard</h1>
        </header>

        <div class="row g-3">
            <div class="col-sm-auto">
                <div class="card stats">
                    <div class="card-body">
                        <strong class="card-title text-uppercase">Total Donations</strong>
                        <small class="d-block">{{ donation_info.total_donations if donation_info else "0"}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="card stats">
                    <div class="card-body">
                        <strong class="card-title text-uppercase">Total Given</strong>
                        <small class="d-block">${{ donation_info.total_given if donation_info else "0"}}</small>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Donations -->
    <section>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <td colspan="4"><h2>Donations</h2></td>
            </tr>
            <tr class="bg-light">
                <th scope="col">Date Given</th>
                <th scope="col">Amount Given</th>
                <th scope="col">Charity</th>
                <th scope="col" class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for donation in donations %}
            <tr class="align-middle">
                <td>{{donation.created_on}}</td>
                <td>${{donation.amount_given}}</td>
                <td>{{donation.charity_id}}</td>
                <td>
                    <form action="/donations/{{donation._id}}" data-method="DELETE">
                        <button type="button" class="btn btn-sm btn-primary rounded-pill">View</button>
                        <button type="submit" type="button" class="btn btn-sm btn-danger rounded-pill">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No donations yet!</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('routes.new_donation') }}" class="btn btn-sm btn-success">Add Donation</a>
    </section>
    <script>
        document.addEventListener("submit", (e) => {
            e.preventDefault();

            const form = e.target;
            fetch(form.action, {
                method: form.dataset.method,
                body: new FormData(form),
            }).then(res => {
                if (res.ok) {
                    window.location.reload();
                } else {
                    const alerts = document.querySelector("#alerts");
                    alerts.style.display = ""
                    alerts.innerHTML = "Something went wrong"
                }
            });
        });
    </script>
</div>
{% endblock %}