{% extends "base.html" %}
{% set active_page = "dash" %}

{% block content %}
<div class="container">
    <section>
        <header>
            <h1>Dashboard</h1>
        </header>
    </section>
    <!-- Donations -->
    <section>
        <div class="row">
            <div class="col-sm">
                Row
            </div>
            <div class="col-sm">
                Row
            </div>
            <div class="col-sm">
                Row
            </div>
        </div>
    </section>

    <!-- Charities -->
    <section>

    </section>
</div>
{% endblock %}