{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
<div class="container-fluid h-100 bg-light">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card donation_form">
            <div class="card-body">
                <h1 class="card-title">Log Donation</h1>
                <form class="row g-2" action="/donations" method="POST">
                    <div class="col-12">
                        <label for="amount_given">Amount Given</label>
                        <input id="amount_given" name="amount_given" type="text" class="form-control" placeholder="$"
                               required>
                    </div>
                    <div class="col-12">
                        <label for="date_given">Date</label>
                        <input id="date_given" name="date_given" type="date" class="form-control" required>
                    </div>
                    <input type="hidden" name="charity_id" value="">
                    <div class="text-center">
                        <button class="btn btn-md btn-primary mt-2 py-1 w-100" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}